
$text-color-dark: #111111;
$avatar-diameter: 48px;
$avatar-margin: 10px;
$button-highlight: red;
/*** Fonts ***/
$lato: 'Lato', sans-serif;

/*** Colors ***/
$black: #000;
$white: #fff;
$light-grey: #ededed;
$grey: #c7c7c7;
$red: #f7354d;
$gradient: 
  linear-gradient(90deg, 
rgba(255,166,0,1) 0%, 
rgba(255,136,11,1) 35%, 
rgba(255,27,69,1) 100%);
$pink: #FF006C;